* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* calc ui */

.calc-container {
  width: 100%;
  max-width: 50rem;
  background: #fff;
}

.calc-input-field {
  width: 100%;
}

.inputs {
  width: 100%;
  padding: 10px 8px;
  text-align: right;
  background: #858694;
  color: #fff;
  border: none;
  font-size: 1rem;
}

.rows {
  list-style: none;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calc_btn {
  padding: 15px;
  border: none;
  border: 1px solid #858694;
  font-size: 0.9rem;
  font-weight: bold;
  background: #e0e0e0;
}

.orange_btn {
  background: #f5913e;
}

.btn-zero {
  grid-column: 1/span 2;
}
